body {
    font-family: 'NanumDarEuiGweDo';
    font-weight: bold;
}

table {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

thead {
    background-color: #FFF9C4;
}

fieldset{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}